<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/logosoftgnet1.png" alt="img login">
        <img class="logoo" src="../../../assets/img/avatar.png" alt="img login">
        <h3>Registrar usuario</h3>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Ingrese usuario">
            <label for="username">Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="password" placeholder="Ingrese password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Ingrese password de nuevo">
            <label for="repite-password">Repetir password</label>
            
        </div> 
        <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-lg" routerLink="/dashboard">Registrarse</button>
        </div>
        <a routerLink="/login">Volver</a>
    </div>    
</div>