<app-navbar></app-navbar>
<div class="dashboard">
  <app-root></app-root>
</div>

<body>
  <header>
    <section class="textos-header">
      <h1>Gestiona tu flota de vehículos de manera fácil y eficiente</h1>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
      </svg></div>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">¿Qué es SoftG Fleet Manager?</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="../../../assets/img/flota_principal.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <p>SoftG Fleet Manager es una aplicación web que te permite gestionar tu flota de
            vehículos de manera fácil y eficiente. Con nuestra solución, podrás llevar un registro de los conductores,
            vehiculos y mostrar el cronograma de rutas.
            </p>
          <p>
            Nuestra plataforma está diseñada para adaptarse a las necesidades de cualquier empresa, sin
            importar su tamaño o sector. Desde pequeñas flotas de vehículos de reparto hasta grandes
            empresas de transporte, SoftG Fleet Manager te ofrece una solución completa y personalizable.
          </p>
        </div>
      </div>
    </section>
    <section class="funcionalidades">
      <div class="contenedor-servicios">
        <h2 class="titulo">Funcionalidades</h2>
        <div class="servicio-cont">
          <img src="./../../../assets/img/flota_registro.png" alt="imagen-registro">
          <h3>Registrar flota de vehículos y conductores</h3>
          <p>Con la función de registro, los usuarios podrán ingresar la información de su flota de vehículos y
            conductores, incluyendo detalles como marca, descripción, año, capacidad y datos
            personales de los conductores. Esto permitirá una gestión más eficiente de los recursos y una mejor
            planificación de las rutas y asignación de tareas.</p>
        </div>
        <div class="contenedor">
          <div class="servicio-ind">
            <img src="./../../../assets/img/flotaRutas.jpg" alt="">
            <h3>Programación de rutas</h3>
            <p>El sistema permitirá crear un cronograma de rutas de trabajo por semana, en el
              cual se indique qué vehículo y conductor se utilizará en cada ruta y en qué horario.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-content">
        <h3>SoftG</h3>
        <p>Contáctanos y síguenos en nuestras redes sociales</p>
        <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>Derechos reservados &copy; 2023 SoftG. Diseñado por <span>Equipo de diseño SoftG</span></p>
      </div>
    </footer>